{
  "node": {
    "args": [
    ],
    "port": 39000,
    "name":"TestNode"
    "rfcTimeout": 10,
    "bindAddr": "0.0.0.0"
  },
  "restart": {
    "terminateTimeout": 5,
    "errorForgetTime": 600,
    "maxCloseErrors": 3,
    "maxBlockTime": 1800,
    "maxInitTime": 900
  },
  "api": {
    "port": 8000
  },
  "pool": {
    "notify": {
      "url": "https://explorer.cxche.org/pool/update",
      "interval": 30
    }
  }
}

